<footer class="site-footer">
  <div class="page-width">Footer</div>
</footer>

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "section section-footer",
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
