<header class="site-header">
  <div class="page-width">Header</div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "section section-header",
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
