<div>Hero</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section-hero",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
